# Dependencies
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Build output
dist
build

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*

# Docker files (optional)
Dockerfile
.dockerignore

# IDE / Editor
.vscode
.idea

# Misc
README.md